/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  /*default, change if needed */
  -webkit-font-smoothing: antialiased;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

._container {
  --max-width: 1280px;
  --padding: 1rem;
  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

body {
  background-color: #fffcf2;
  color: #252422;
  font-family: "Montserrat", sans-serif;
}

header {
  position: relative;
  gap: 1rem;
  padding: 20px 0px;
  background-color: #eb5e28;
  color: #e7e8ef;
}
header .header_content {
  margin: 0px 122px;
}
@media (max-width: 60rem) {
  header .header_content {
    margin: 0px 61px;
  }
}
@media (max-width: 35rem) {
  header .header_content {
    margin: 0px 20px;
  }
}
header .logo img {
  min-width: 255px;
  min-height: 43px;
}
@media (max-width: 35rem) {
  header .logo img {
    min-width: 200px;
    min-height: 43px;
  }
}
header .primary-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-links li {
  display: inline-block;
}
header .nav-links li:not(:last-child) {
  margin-right: 77px;
}
header .nav-links a {
  text-decoration: none;
  color: #e7e8ef;
  font-size: 16px;
  font-weight: 600;
}

.main_content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: #fffcf2;
}
.main_content .main_image {
  position: relative;
  width: 100%;
  height: 500px;
}
.main_content .main_image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(40%);
}
.main_content .main_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.main_content .main_title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.main_content .main_description {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

.main_btn-to-contacts {
  font-weight: 600;
  color: #eb5e28;
  text-decoration: none;
  margin-top: 80px;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #eb5e28;
  transition: 0.5s;
}

.main_btn-to-contacts:hover {
  background-color: #eb5e28;
  color: #e7e8ef;
}

.benefits_container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 60rem) {
  .benefits_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "card1 card2" "card3 card3";
  }
  .benefits_container .card1 {
    grid-area: card1;
  }
  .benefits_container .card2 {
    grid-area: card2;
  }
  .benefits_container .card3 {
    grid-area: card3;
  }
}
@media (max-width: 38rem) {
  .benefits_container {
    grid-template-columns: 1fr;
    grid-template-areas: "card1" "card2" "card3";
  }
}

.card_body {
  margin-bottom: 100px;
}
.card_body .card_title {
  font-size: 36px;
  font-weight: 700;
  border-bottom: 3px solid #eb5e28;
  padding: 16px 0px;
  margin-bottom: 40px;
}
.card_body .card_text {
  font-size: 20px;
  font-weight: 400;
}
.card_body span {
  color: #eb5e28;
}
@media (max-width: 60rem) {
  .card_body {
    margin-bottom: 40px;
  }
}

@media (max-width: 38rem) {
  .card_body:not(:last-child) {
    margin-bottom: 10px;
  }
  .card_title {
    margin-bottom: 20px;
    border-bottom: 2px solid #eb5e28;
  }
}
.main_lable {
  background-color: #ccc5b9;
}
.main_lable .lable_text {
  color: #252422;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  padding: 62px 0px;
}

.main_spealist {
  display: grid;
  gap: 0rem 2rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 37rem) {
  .main_spealist {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.specialist_image {
  position: relative;
  width: 100%;
  min-height: 620px;
}
.specialist_image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.specialist_info {
  display: flex;
  flex-direction: column;
}
@media (max-width: 60rem) {
  .specialist_info {
    margin-bottom: 40px;
  }
}

.specialist_title {
  margin: 56px 0px 40px 0px;
  color: #eb5e28;
  font-size: 16px;
}
@media (max-width: 37rem) {
  .specialist_title {
    margin: 20px 0px 15px 0px;
  }
}

.specialist_name {
  color: #252422;
  font-size: 36px;
  margin-bottom: 40px;
}

.specialist_lorem {
  font-size: 16px;
  color: #252422;
  margin-bottom: 40px;
}

.specialist_socials > a {
  display: inline-block;
}

.specialist_socials > a:not(:last-child) {
  margin-right: 20px;
}

.main_lable2 {
  background-color: #ccc5b9;
}
.main_lable2 .lable_text2 {
  color: #252422;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  padding: 54px 0px;
}

.services_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 65rem) {
  .services_container {
    grid-template-columns: 1fr;
  }
}

.services_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 37rem) {
  .services_cards {
    grid-template-columns: 1fr;
  }
}

.service_card:nth-child(1) {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.service_card:nth-child(2) {
  border-bottom: 1px solid black;
}
.service_card:nth-child(3) {
  border-right: 1px solid black;
}
@media (max-width: 37rem) {
  .service_card:nth-child(n) {
    border-style: none none solid none;
  }
}

.service_card {
  text-align: center;
  width: auto;
  height: 390px;
}
@media (max-width: 37rem) {
  .service_card {
    height: 330px;
  }
}

.service_logo {
  margin-top: 11px;
}
.service_logo img {
  display: inline;
  width: 50px;
  height: 50px;
}

.service_title {
  margin: 12px 0px 12px 0px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  padding: 0px 10px;
}

.service_text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 0px 10px;
}

.service_image {
  position: relative;
  width: 100%;
  min-height: 620px;
}
.service_image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_lable3 {
  background-color: #403d39;
  text-align: center;
}
.main_lable3 .lable3_content {
  padding: 50px 0px 35px 0px;
}
.main_lable3 .lable_text3 {
  color: #fffcf2;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 27px;
}

.main_content-image {
  position: relative;
  width: 100%;
  height: 500px;
}
.main_content-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.content_title {
  text-align: center;
  margin: 80px 0px 80px 0px;
  color: #eb5e28;
  font-size: 32px;
  font-weight: 700;
}

.table_container {
  display: flex;
  width: 100%;
}

.table_content-left {
  width: 30%;
  margin-top: 50px;
}
.table_content-left .table_option {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.table_content-left .table-nav li:not(:last-child) {
  margin-bottom: 10px;
}
.table_content-left .table_option.active {
  color: #eb5e28;
  border-left: 2px solid #252422;
  padding: 10px 15px;
  transition: all 0.8s;
}

.table_content-right {
  width: 70%;
}

.table {
  display: none;
  opacity: 0;
  transition: opacity 900ms;
}

.op {
  opacity: 1;
}

.table_title {
  font-size: 24px;
  font-weight: 700;
}

.table_content table {
  border-collapse: collapse;
}
.table_content td,
.table_content th {
  text-align: left;
  padding: 8px;
  width: 100%;
  font-weight: 600;
}
.table_content td {
  background-color: #ccc5b9;
}
.table_content th:first-child {
  padding: 8px 0px;
}
.table_content td:nth-child(2n+1) {
  background-color: #403d39;
  color: #fff;
}
.table_content tr:nth-child(even) {
  background-color: #ccc5b9;
  color: #fff;
}
.table_content tr:nth-child(even) td:nth-child(1n+1) {
  background-color: #403d39;
}
.table_content tr:nth-child(even) td:nth-child(2n+1) {
  background-color: #ccc5b9;
  color: #252422;
}

.active {
  display: block;
}

.main_cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.main_cards .service_cards_body {
  background-color: #403d39;
  color: #fffcf2;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}
.main_cards .service_card_title {
  padding: 27px 10px;
}
.main_cards .service_card_price {
  padding: 33px 0px;
  background-color: #ccc5b9;
  color: #403d39;
}
.main_cards .service_card_text {
  font-size: 16px;
  font-weight: 400;
  padding: 40px 10px;
  margin-bottom: 50px;
}
.main_cards .service_card_text li:not(:last-child) {
  margin-bottom: 10px;
}

.main_service_description p {
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
}

.main_service_addServices {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.main_service_addServices .addServices_cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 400px);
}
.main_service_addServices .addServices_cards .addServices_card {
  background-color: #403d39;
  color: #fffcf2;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}
.main_service_addServices .addServices_cards .addServices_card .addServices_card_title {
  font-size: 24px;
  font-weight: 700;
  padding: 32px 28px 13px 28px;
}
.main_service_addServices .addServices_cards .addServices_card .addServices_card_price {
  font-size: 24px;
  font-weight: 700;
  background-color: #ccc5b9;
  color: #403d39;
  padding: 38px 10px;
}

.block {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  padding: 36px 10px;
}

.main_callToAction {
  background-color: #403d39;
  color: #fffcf2;
}

.main_textUs {
  color: #eb5e28;
  text-transform: uppercase;
}

.main_contact_menu {
  display: flex;
  flex-direction: row;
}

.contact_map {
  width: 75%;
}

.contact_information {
  width: 25%;
  height: 540px;
  padding: 40px 50px;
  background-color: #ccc5b9;
}
.contact_information .contct_main-title {
  text-transform: uppercase;
  color: #403d39;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 70px;
  letter-spacing: 1px;
  line-height: 24px;
}
.contact_information .contact_title {
  text-transform: uppercase;
  color: #403d39;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 24px;
}
.contact_information .contact_text {
  color: #403d39;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 38px;
  letter-spacing: 1px;
  line-height: 24px;
}

.main_form_textUs {
  background-color: #403d39;
  padding: 90px 0px;
}
.main_form_textUs .form_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_form_textUs .form_container form {
  max-width: 840px;
  width: 100%;
}
.main_form_textUs .form_container .text-form {
  margin-bottom: 50px;
}
.main_form_textUs .form_container .form_row1 {
  display: inline-flex;
  width: 100%;
}
.main_form_textUs .form_container .form_row1 #fname {
  width: 50%;
  margin-right: 40px;
}
.main_form_textUs .form_container .form_row1 #email {
  width: 50%;
}
.main_form_textUs .form_container .form_row2 {
  display: inline-flex;
  width: 100%;
}
.main_form_textUs .form_container .form_row2 #tel {
  width: 35%;
  margin-right: 40px;
}
.main_form_textUs .form_container .form_row2 #sub-subject {
  width: 65%;
}
.main_form_textUs .form_container input, .main_form_textUs .form_container textarea {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #252422;
  resize: none;
  background-color: #ccc5b9;
  color: #403d39;
  outline: none;
  transition: all 0.3s;
}
.main_form_textUs .form_container input:focus, .main_form_textUs .form_container textarea:focus {
  border: 2px solid #ffffff;
}
.main_form_textUs .form_container textarea {
  max-height: 120px;
}
.main_form_textUs .form_container .form_btn {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.main_form_textUs .form_container .form_btn .button {
  border-radius: 20px;
  padding: 20px;
  background-color: #eb5e28;
  color: #ffffff;
  border: 2px solid #eb5e28;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
}
.main_form_textUs .form_container .form_btn .button:hover, .main_form_textUs .form_container .form_btn .button:focus {
  opacity: 0.8;
  border: 2px solid #fff;
}

.footer {
  padding: 20px 0;
  background-color: #bdcca2;
  text-align: center;
}/*# sourceMappingURL=main.css.map */