@use "./components/reset";

@use "./components/pageSetting";
// background-color
$bg-primary: #fffcf2;
$bg-second: #eb5e28;
$bg-200: #ccc5b9;
$bg-700: #403d39;
// color
$color-100: #ffffff;
$color-200: #fffcf2;
$color-300: #e7e8ef;
$color-500: $bg-second;
$color-700: #403d39;
$color-900: #252422;
// font-size
$fz-100: 16px;
$fz-200: 20px;
$fz-300: 24px;
$fz-400: 32px;
$fz-500: 36px;
// font-weight
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
body {
  background-color: $bg-primary;
  color: $color-900;
  font-family: "Montserrat", sans-serif;
}

header {
  position: relative;
  gap: 1rem;
  padding: 20px 0px;
  background-color: $bg-second;
  color: $color-300;
  // @media (max-width: 35rem) {
  //   padding: 10px 0px;
  // }
  .header_content {
    margin: 0px 122px;
    @media (max-width: 60rem) {
      margin: 0px 61px;
    }
    @media (max-width: 35rem) {
      margin: 0px 20px;
    }
  }

  .logo {
    img {
      min-width: 255px;
      min-height: 43px;
      @media (max-width: 35rem) {
        min-width: 200px;
        min-height: 43px;
      }
    }
  }

  .primary-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    li {
      display: inline-block;
    }
    li:not(:last-child) {
      margin-right: 77px;
    }
    a {
      text-decoration: none;
      color: $color-300;
      font-size: $fz-100;
      font-weight: $fw-semiBold;
    }
  }
}

.main_content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: $color-200;

  .main_image {
    position: relative;
    width: 100%;
    height: 500px;
  }
  .main_image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: brightness(40%);
  }
  .main_text {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
  }

  .main_title {
    font-size: $fz-500;
    font-weight: $fw-bold;
    text-align: center;
  }
  .main_description {
    font-size: $fz-400;
    font-weight: $fw-medium;
    text-align: center;
  }
}
.main_btn-to-contacts {
  font-weight: $fw-semiBold;
  color: $color-500;
  text-decoration: none;
  margin-top: 80px;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid $bg-second;
  transition: 0.5s;
}
.main_btn-to-contacts:hover {
  background-color: $bg-second;
  color: $color-300;
}

.benefits_container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 60rem) {
    grid-template-columns: repeat(2, 1fr);
    .card1 {
      grid-area: card1;
    }
    .card2 {
      grid-area: card2;
    }
    .card3 {
      grid-area: card3;
    }
    grid-template-areas:
      "card1 card2"
      "card3 card3";
  }
  @media (max-width: 38rem) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3";
  }
}

.card_body {
  margin-bottom: 100px;
  .card_title {
    font-size: $fz-500;
    font-weight: $fw-bold;
    border-bottom: 3px solid $bg-second;
    padding: 16px 0px;
    margin-bottom: 40px;
  }
  .card_text {
    font-size: $fz-200;
    font-weight: $fw-regular;
  }
  span {
    color: $bg-second;
  }
  @media (max-width: 60rem) {
    margin-bottom: 40px;
  }
}
@media (max-width: 38rem) {
  .card_body:not(:last-child) {
    margin-bottom: 10px;
  }
  .card_title {
    margin-bottom: 20px;
    border-bottom: 2px solid $bg-second;
  }
}

.main_lable {
  background-color: $bg-200;
  .lable_text {
    color: $color-900;
    font-weight: $fw-bold;
    font-size: $fz-400;
    text-align: center;
    padding: 62px 0px;
  }
}

.main_spealist {
  display: grid;
  gap: 0rem 2rem;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 37rem) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
.specialist_image {
  position: relative;
  width: 100%;
  min-height: 620px;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.specialist_info {
  display: flex;
  flex-direction: column;
  @media (max-width: 60rem) {
    margin-bottom: 40px;
  }
}

.specialist_title {
  margin: 56px 0px 40px 0px;
  color: $bg-second;
  font-size: $fz-100;
  @media (max-width: 37rem) {
    margin: 20px 0px 15px 0px;
  }
}

.specialist_name {
  color: $color-900;
  font-size: $fz-500;
  margin-bottom: 40px;
}

.specialist_lorem {
  font-size: $fz-100;
  color: $color-900;
  margin-bottom: 40px;
}

.specialist_socials > a {
  display: inline-block;
}
.specialist_socials > a:not(:last-child) {
  margin-right: 20px;
}

.main_lable2 {
  background-color: $bg-200;
  .lable_text2 {
    color: $color-900;
    font-weight: $fw-bold;
    font-size: $fz-400;
    text-align: center;
    padding: 54px 0px;
  }
}

.services_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 65rem) {
    grid-template-columns: 1fr;
  }
}

.services_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 37rem) {
    grid-template-columns: 1fr;
  }
}
.service_card {
  &:nth-child(1) {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  &:nth-child(2) {
    border-bottom: 1px solid black;
  }
  &:nth-child(3) {
    border-right: 1px solid black;
  }
  @media (max-width: 37rem) {
    &:nth-child(n) {
      border-style: none none solid none;
    }
  }
}

.service_card {
  text-align: center;
  width: auto;
  height: 390px;
  @media (max-width: 37rem) {
    height: 330px;
  }
}

.service_logo {
  margin-top: 11px;
  img {
    display: inline;
    width: 50px;
    height: 50px;
  }
}

.service_title {
  margin: 12px 0px 12px 0px;
  font-size: $fz-400;
  line-height: $fz-400;
  font-weight: $fw-semiBold;
  padding: 0px 10px;
}

.service_text {
  font-size: $fz-100;
  line-height: $fz-100;
  font-weight: $fw-regular;
  padding: 0px 10px;
}

.service_image {
  position: relative;
  width: 100%;
  min-height: 620px;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.main_lable3 {
  background-color: $color-700;
  text-align: center;
  .lable3_content {
    padding: 50px 0px 35px 0px;
  }
  .lable_text3 {
    color: $color-200;
    font-weight: $fw-bold;
    font-size: $fz-400;
    margin-bottom: 27px;
  }
}
.main_content-image {
  position: relative;
  width: 100%;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.content_title {
  text-align: center;
  margin: 80px 0px 80px 0px;
  color: $bg-second;
  font-size: $fz-400;
  font-weight: $fw-bold;
}
.table_container {
  display: flex;
  width: 100%;
}
.table_content-left {
  width: 30%;
}
.table_content-right {
  width: 70%;
}

.table_content {
  table {
    border-collapse: collapse;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 100%;
  }
  td:nth-child(2n + 1) {
    background-color: #403d39;
  }
  tr:nth-child(even) {
    td:nth-child(1n + 1) {
      background-color: #403d39;
    }
    td:nth-child(2n + 1) {
      background-color: #ffffff;
    }
  }
}

.active {
  display: block;
}

.hidden {
  display: none;
}
.footer {
  padding: 20px 0;
  background-color: #bdcca2;
  text-align: center;
}
